p::first-letter{font-size: 30px; color: brown;}

p::first-line{text-transform: uppercase; color: greenyellow; background-color: blue;}

p::selection{background-color: yellow; color: red;} 

h3::before{content: "Hello! "; color: blueviolet;}

h3::after{content: ". Good Bye!"; color: green;}